.dashboard-container{
    height:100vh;
}
.dashboard-text{
    text-align: center;
    color: rgb(75, 1, 75);
}
.header-container{
    width:100%;
    display: grid;
    justify-items: end;
}
.attendence-btn{
    border:none;
    background:rgb(75, 1, 75);
    font-size: 20px;
    cursor: pointer;
    transition:0.1s linear;
    color:white;
    letter-spacing: 2px;
    padding:10px 35px 10px 35px;
    border-radius: 2px;
}
.attendence-btn:hover{
    background-color: rgb(109, 0, 109);
}
.btn-cont{
    display:grid;
    place-items: center;
    height:75%;
}
.check-in-btn{
    margin-right:10px;
}  
.check-out-btn{
    margin-left:15px;
}                                          
.activity-container{
    padding-bottom: 64px;
}